*{
	margin: 0;
	text-align: center;
	font-family: sans-serif;
	box-sizing: border-box;
	
	
}

#heading{
	font-weight: bold;
	padding:5%;
	margin:2%;
}

section{
	border:2px solid black;
	background-color: lightgrey;
	margin:2%;
	border-radius: 20px;
	box-shadow: 5px 5px grey;
}
.sec-head{
	border-radius: 15px;
	border:2px solid black;
	float: right;
	padding:1%;
	
}
#Chicken>.sec-head{
	background-color: orange;
}
#Beef>.sec-head{
	background-color: pink;
}
#Sushi>.sec-head{
	background-color: yellow;
}
section>p{
	
	padding: 5%;
	padding-top: 10%;
}
@media (min-width: 992px){
	section{
		width:29.33%;
		float: left;
		
	}	
}
@media(min-width: 768px) and (max-width: 991px){
	section{
		width: 46%;
		float: left;
	}
	#Sushi{
		width: 96%;
		clear: both;
	}
}
@media(max-width: 767px){
	section{
		clear: both;
		width: 96%;
	}
}